
#openFile {
    -fx-background-image: url("../icons/folder.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#playButton {
    -fx-background-image: url("../icons/play.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#pauseButton {
    -fx-background-image: url("../icons/pause.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#stopButton {
    -fx-background-image: url("../icons/stop.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

